option_settings:
  aws:elasticbeanstalk:application:environment:
    LD_LIBRARY_PATH: /usr/local/MATLAB/R2017b/runtime/glnxa64:/usr/local/MATLAB/R2017b/bin/glnxa64:/usr/local/MATLAB/R2017b/sys/opengl/lib/glnxa64/

packages:
  yum:
    freeglut3-dev: []
    build-essential: []
    libx11-dev: []
    libxmu-dev: []
    libxi-dev: []
    libgl1-mesa-glx: []
    libglu1-mesa: []
    libglu1-mesa-dev: []
    libglfw3-dev: []
    libgles2-mesa-dev: []
    unzip: []

commands:
  00-mkdir-setupdir:
    command: "mkdir ~/qaehssetup"
  01-clone-qaehscode:
    command: "git clone https://SamualMac@bitbucket.org/SamualMac/qaehs_code.git"
    cwd "~/qaehssetup"
  02-download-anaconda3:
    command "sudo curl -O https://repo.anaconda.com/archive/Anaconda3-5.2.0-Linux-x86_64.sh"
    cwd "~/qaehssetup"
  03-install-anaconda3:
    command "sudo chmod +x ./Anaconda3-5.2.0-Linux-x86_64.sh && bash ./Anaconda3-5.2.0-Linux-x86_64.sh -b -f"
    cwd "~/qaehssetup"
  04-download-matlab-runetine-engine:
    command "sudo curl -O http://ssd.mathworks.com/supportfiles/downloads/R2017b/deployment_files/R2017b/installers/glnxa64/MCR_R2017b_glnxa64_installer.zip"
    cwd "~/qaehssetup"
  05-mkdir-matlab-runtime-setup:
    command "mkdir install_runtime"
    cwd "~/qaehssetup"
  06-mv-zip-to-install:
    command "mv MCR_R2017b_glnxa64_installer.zip install_runtime"
    cwd "~/qaehssetup"
  07-unzip-mcr:
    command "unzip MCR_R2017b_glnxa64_installer.zip"
    cwd "~/qaehssetup/install_runtime"
  08-install-mcr:
    command "sudo ./install -mode silent -agreeToLicense yes"
    cwd "~/qaehssetup/install_runtime"
  09-setup-qaehscode:
    command: "python setup.py install"
    cwd: "cwd "~/qaehssetup/qaehs_code/compiled/ImportDeconvAlpha/for_redistribution_files_only"
